
{% extends 'base_layout.html' %}
{% load staticfiles %}

{% block content %}
	<!---home page-->


	<div class="container" >
		<br/>
		<h1 id="page-header" class="text-center">
            About Us
        </h1>
        <hr/>
	<br />
	<div class="text-center">
	<img class="img-responsive img-center" src="{% static 'iiitt-logo.png' %}" alt="Logo of IIIT Trichy" />
</div>
<br/>
	<main class="content container">
         <p><strong>Indian Institute of Information Technology Tiruchirappalli (IIITT)</strong>, also known as <strong>IIIT Trichy</strong>, is an <strong>Institute of National Importance</strong> and one among the 19 IIITs proposed under <strong>the non-profit Public-Private Partnership (PPP) Model by MHRD</strong>.</p>

         <p>IIITT is an academic and research institute fully funded by <strong>Government of India</strong>, <strong>Government of Tamil Nadu</strong> and
             <strong>Industry Partners</strong> in the ratio of 50:35:15.</p>

         <p>Industry partners include <a target="_blank" href="https://www.tcs.com/"><strong>Tata Consultancy Services (TCS)</strong></a>,
             <a target="_blank" href="https://www.cognizant.com/"><strong>Cognizant Technology Solutions (CTS)</strong></a>, <a target="_blank" href="https://www.infosys.com"><strong>Infosys</strong></a>,
             <a target="_blank" href="http://www.ramco.com/"><strong>Ramco Systems</strong></a>, <a target="_blank" href="http://www.elcot.in/"><strong>ELCOT</strong></a>, and <a target="_blank" href="http://www.navitas.net/"><strong>Navitas (TAKE Solutions)</strong></a>.</p>
         <hr/>
         <h3><strong>Vision</strong></h3>
         <hr/>
         <p>To achive "World Class Excellence in Information and Communication Technology".</p>
         <hr/>
         <h3><strong>Mission</strong></h3>
         <hr/>
         <ul>
             <li style="text-align: justify; font-size: medium;">To impart Information Technology education to students and future leaders.</li>
             <li style="text-align: justify; font-size: medium;">To establish Center of Excellences in Information Technology.</li>
             <li style="text-align: justify; font-size: medium;">To engage in cutting edge technology research to meet the current needs and future challenges of India and the world at large.</li>
         </ul>
         <br/>
         <figure>
             <figcaption class="text-center">Logo of IIIT Trichy</figcaption>
         </figure>
         <br/>

         <p>The focus is to address the challenges faced by the Indian IT industry and growth of the domestic IT market, the Ministry of Human Resource Development(MHRD), Government of India has established Indian Institute of Information Technology Tiruchirappalli on a Not-for-profit Public Private Partnership (N-PPP) basis like 22 other IIITs.</p>
         <p>A major objective in establishing IIITT is to set up a model of education which can produce best-in-class human resources in IT and harnessing the multidimensional facets of IT in various domains. While the number of students produced would be small, the impact they create would be great.</p>
         <p> IIIT Trichy is operating in the temporary campus within the premises of National Institute of Technology (NIT) Campus, Tiruchirappalli – 620 015, Tamil Nadu, since March 2016. <a target="_blank" href="http://www.nitt.edu/"><strong>NIT Tiruchirappalli</strong></a> is the mentor institution for IIIT Trichy that provides academic and administrative support to the IIITT. In future, the permanent campus will be built at Sethurappatti Village, Srirangam Taluk, Tiruchirappalli District.</p>
         <br/>
     </main>
</div>







{% endblock %}
