
	{% extends 'base_layout.html' %}
	{% load staticfiles %}

	{% block content %}
		<!---home page-->
		<br/>
<div class="container1"style="background-color:#edeaea;">
		<div class="container"style="background-color:#edeaea;width:70%;">
	<br/>
		        <!-- Three columns of text below the carousel -->
						<h2 class="text-center">DEPARTMENT OF CSE</h2>

						{% for person in cse.all %}
					<table style="background-color:white;margin:10px;border-radius: 25px;width:98%;">
					 						<tr >
					 	            <td rowspan='6' style="width:200px;">
					 	            <img class="img-fluid" style="margin:15px;" src='{{person.image.url}}' width='125' height='130'>
					 	            </td>
					 	          </tr>

										<tr>
											<td><a href="{% url 'detailie' person.title %}"><h3>{{person.name}}</h3></a></td>
										</tr>

										<tr>	<p><td><b> {{person.email}}</b></td></p>
											<td align=right></td>
										</tr>

										<tr>
											<td colspan=3>
												<b>Areas of Interest:</b> {{person.areas_of_interest}}
											</td>
										</tr>
										<tr><td colspan=2><b>Phone:</b> {{person.number}}</td></tr>

									</table>

															{% endfor %}


<br/>


															<h2 class="text-center">DEPARTMENT OF ECE</h2>

															{% for person in ece.all %}
															<table style="background-color:white;margin:10px;border-radius: 25px;width:98%;">
															 						<tr >
															 	            <td rowspan='6' style="width:200px;">
															 	            <img class="img-fluid" style="margin:15px;" src='{{person.image.url}}' width='125' height='130'>
															 	            </td>
															 	          </tr>

																				<tr>
																					<td><a href="{% url 'detailie' person.title %}"><h3>{{person.name}}</h3></a></td>
																				</tr>

																				<tr>	<p><td><b> {{person.email}}</b></td></p>
																					<td align=right></td>
																				</tr>

																				<tr>
																					<td colspan=3>
																						<b>Areas of Interest:</b> {{person.areas_of_interest}}
																					</td>
																				</tr>
																				<tr><td colspan=2><b>Phone:</b> {{person.number}}</td></tr>

																			</table>


																								{% endfor %}











	<br/>




	 </div>
	 </div>
	<br/>



	{% endblock %}
