
	{% extends 'base_layout.html' %}
	{% load staticfiles %}

	{% block content %}
		<!---home page-->

		<div class="container marketing"style="background-color:#edeaea;width:70%;">
	<br/>
		        <!-- Three columns of text below the carousel -->
						<h2 class="text-center">DEPARTMENT OF CSE</h2>
					<table style="background-color:white;margin:5px;border-radius: 25px;
						border: 2px solid lightgrey;" border=0  align=center cellspacing=0 cellpadding=2>
					 						<tr >
					 	            <td rowspan='5'>
					 	            <img style="margin-right:10px;" src='internal/images/faculty_photos/120x120/adsul.jpg' width='125' height='130'>
					 	            </td>
					 	          </tr>

										<tr>
											<p><td><a href=''><h3>A M Siva Krishna</h3></a></td></p>
										</tr>

										<tr>	<p><td><b> amruthk99@gmail.com</b></td></p>
											<td align=right></td>
										</tr>

										<tr>
											<td colspan=3>
												<b>Research Interests:</b> Formal methods in Concurrency, Logics and Games, Geometric Complexity Theory
											</td>
										</tr>
										<tr><td colspan=3><b>Phone:</b> 7712</td></tr>

									</table>


									<table style="background-color:white;margin:5px;border-radius: 25px;
										border: 2px solid lightgrey;" border=0  align=center cellspacing=0 cellpadding=2>
															<tr >
																<td rowspan='5'>
																<img style="margin-right:10px;" src='internal/images/faculty_photos/120x120/adsul.jpg' width='125' height='130'>
																</td>
															</tr>

														<tr>
															<p><td><a href=''><h3>A M Siva Krishna</h3></a></td></p>
														</tr>

														<tr>	<p><td><b> amruthk99@gmail.com</b></td></p>
															<td align=right></td>
														</tr>

														<tr>
															<td colspan=3>
																<b>Research Interests:</b> Formal methods in Concurrency, Logics and Games, Geometric Complexity Theory
															</td>
														</tr>
														<tr><td colspan=3><b>Phone:</b> 7712</td></tr>

													</table>

														<h2 class="text-center">DEPARTMENT OF ECE</h2>




													<table style="background-color:white;margin:5px;border-radius: 25px;
														border: 2px solid lightgrey;" border=0  align=center cellspacing=0 cellpadding=2>
																			<tr >
																				<td rowspan='5'>
																				<img style="margin-right:10px;" src='internal/images/faculty_photos/120x120/adsul.jpg' width='125' height='130'>
																				</td>
																			</tr>

																		<tr>
																			<p><td><a href=''><h3>A M Siva Krishna</h3></a></td></p>
																		</tr>

																		<tr>	<p><td><b> amruthk99@gmail.com</b></td></p>
																			<td align=right></td>
																		</tr>

																		<tr>
																			<td colspan=3>
																				<b>Research Interests:</b> Formal methods in Concurrency, Logics and Games, Geometric Complexity Theory
																			</td>
																		</tr>
																		<tr><td colspan=3><b>Phone:</b> 7712</td></tr>

																	</table>





	 </div>
	<br/>



	{% endblock %}
