
{% extends 'base_layout.html' %}
{% load staticfiles %}

{% block content %}
	<!---home page-->


	<div class="container" >
	<br />





	<div style="width: 100%;">
					<div class="w3-row" style="margin-top: 0;">
						<div class="w3-col"style="width: 260px; background-color: white">
							<img id="image" name="image" style="height: 250px; width: 250px;margin:0px auto; border-radius: 5px;object-fit: cover;" src="{% static 'iiitt-logo.png' %}">
						</div>
						<div class="w3-rest" style="padding-left: 30px; min-width: 300px">
							<p style="margin: 30px 0 0 0; font-size: xx-large;" class="header">Prof. Banshidhar Majhi</p>
							<p class="subheader" style="margin: 0; color: #3275AA;">Professor</p>
							<p class="paragraph" style="margin: 0; "><b style="color: #3275AA; font-weight: 600">E-mail: </b>directoroffice@iiitdm.ac.in | <b style="color: #3275AA; font-weight: 600">Ph: </b>+91 44 2747 6302 | <b style="color: #3275AA; font-weight: 600">Room No: </b>Director's Office , 2nd Floor, Admin Bldg.,</p>

												</div>
					</div>
				</div>






					<div id="content" class="frame" style="width: 100%; border-radius: 5px; background: #edeaea; border-color: #edeaea; border-width: 5px; border-style: solid; margin-top: 40px">

						<div class="w3-row" style="height: 30px;">
							<div class="w3-col"style="width: 700px; height: 30px;">
								<p style="font-size: 25px; height: 30px; margin: 0 10px;" class="subheader">Education</p>
							</div>
						</div>

						<div style="width: 100%; background-color: #214B8C; height: 2px; margin-top: 15px"></div>


					<table style="width: 100%; margin: 10px 0; background-color: #edeaea; border-style: none;"><tr style="width: 800px;"><th style="width: 600px; background-color: #edeaea; border-style: none; padding: 5px 10px;"><p class="Pheader" align="left" style=" margin: 5px 0 0 5px; color: #333333;">NIT Rourkela</p></th><th style="width: 150px; background-color: #edeaea; border-style: none; padding: 5px 10px;"><p class="Pheader" align="right" style=" margin: 5px 0 0 5px; color: #333333;"></p></th></tr><tr style="width: 800px; height: 25px;"><th style=" background-color: #edeaea; border-style: none;padding: 5px 10px;"><p align="left" style="font-weight: 400; margin: 0 0 5px 5px; color: #333333;">PhD Computer Science</p></th><th style=" background-color: #edeaea; border-style: none;padding: 5px 10px;"><p align="right" style="font-weight: 400; margin: 0 0 5px 5px; color: #333333;"> - </p></th></tr></table>
					</div>


					<div id="content" class="frame" style="width: 100%; border-radius: 5px; background: #edeaea; border-color: #edeaea; border-width: 5px; border-style: solid; margin-top: 40px"><div class="w3-row" style="height: 30px;"><div class="w3-col"style="width: 700px; height: 30px;"><p style="font-size: 25px; height: 30px; margin: 0 10px;" class="subheader">Specialization</p></div></div><div style="width: 100%; background-color: #214B8C; height: 2px; margin-top: 15px"></div><ol style="list-style: circle; margin: 10px 5px 5px 15px;" ><li><p class="paragraph" style="margin:0">Image Processing</p></li></ol></div>

					<div id="content" class="frame" style="width: 100%; border-radius: 5px; background: #edeaea; border-color: #edeaea; border-width: 5px; border-style: solid; margin-top: 40px"><div class="w3-row" style="height: 30px;"><div class="w3-col"style="width: 700px; height: 30px;"><p style="font-size: 25px; height: 30px; margin: 0 10px;" class="subheader">Research Interests</p></div></div><div style="width: 100%; background-color: #214B8C; height: 2px; margin-top: 15px"></div><ol style="list-style: circle; margin: 10px 5px 5px 15px;" ><li><p class="paragraph" style="margin:0">Image Processing, Data Compression, Cryptography and Security, Parallel Computing, Soft Computing</p></li></ol></div>

					<div id="content" class="frame" style="width: 100%; border-radius: 5px; background: #edeaea; border-color: #edeaea; border-width: 5px; border-style: solid; margin-top: 40px"><div class="w3-row" style="height: 30px;"><div class="w3-col"style="width: 700px; height: 30px;"><p style="font-size: 25px; height: 30px; margin: 0 10px;" class="subheader">Honours + Awards + Recognitions</p></div></div><div style="width: 100%; background-color: #214B8C; height: 2px; margin-top: 15px"></div><ol style="list-style: circle; margin: 10px 5px 5px 15px;" ><li><p class="paragraph" style="margin:0">Gold Medal for Best Engineering Paper from IETE, 2001, Gold Medal from Orissa Engineering. Congress,</p></li></ol></div>





					<div id="content" class="frame" style="width: 100%; border-radius: 5px; background: #edeaea; border-color: #edeaea; border-width: 5px; border-style: solid; margin-top: 40px"><div class="w3-row" style="height: 30px;"><div class="w3-col"style="width: 700px; height: 30px;"><p style="font-size: 25px; height: 30px; margin: 0 10px;" class="subheader">Professional Membership</p></div></div><div style="width: 100%; background-color: #214B8C; height: 2px; margin-top: 15px"></div><ol style="list-style: circle; margin: 10px 5px 5px 15px; max-height: 600px; overflow-y: scroll" ><li><p class="paragraph" style="margin:0">FIETE, LMCSI, AMIE(India)</p></li></ol></div>














					</div>




			</div>















		<br />
		<br />
</div>







{% endblock %}
