<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<title>Indian Insitute of Information Technology, Tiruchirappalli</title>
	<link href="https://fonts.googleapis.com/css?family=Exo+2:300,400" rel="stylesheet">
	<!-- required -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="js/jquery.webticker.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>



    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" media="all" href="css/stellarnav.css">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet" type="text/css" href="bootstrap.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>

	<!-- required -->
<style>
/* styles for this sample only */
*{ margin: 0; padding: 0; }
body { height: auto; font-size: 16px; font-family: 'Exo 2', sans-serif; 
       background: white; color:black; }

.header {
    text-align: center;margin:0 auto; 

}
.header a { padding: 20px; display: block; font-size: 48px; text-decoration: none; color: #555; }
.header p { margin: 10px 0 40px 0; font-size: 18px; }
.container { max-width: 1200px; margin: 0 auto; }




@media only screen and (max-width : 1000px) {
	.stellarnav > ul > li > a { padding: 20px 23px; }
}

    @media only screen and (min-width: 600px) {

        .home-1 {
            width: 80% !important;
            margin: 0 auto;
            
        }
    }

    @media only screen and (max-width: 900px) {
        .home-1 {
            width: 100% !important;
            margin: 0 auto;
        }

        .container {
            width: 100% !important;
            margin: 0 auto;
            
        }
    }
    .stellarnav ul li a{
        z-index:250000;
    }
    
/* styles for this sample only */
</style>

</head>















<body>









    <div class="container">
        <div class="text-center" style="background-color:antiquewhite;float:right">

            <div style=" background-color: antiquewhite;align-content:center;" class="center">
                <ul class="social-network social-circle">
                    <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" class="icoGoogle" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#" class="icoInstagram" title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
        <div class="header">
            <div class="text-center" style="background-color:antiquewhite;">
                <div class="container">


                    <div class="head-banner hidden-sm hidden-xs hidden-md">

                        <a href="#">	<img src="logo-iiit.png" class="img-fluid" alt="IIITT"></a>

                    </div>
                </div>


            </div>

        </div>
        <div class="stellarnav" style="  z-index:99;">
            <ul style="z-index:2;">
                <li><a href="">Home</a></li>
                <li>
                    <a href="">Dropdown</a>
                    <ul>
                        <li>
                            <a href="#">How deep?</a>
                            <ul>
                                <li>
                                    <a href="#">Deep</a>
                                    <ul>
                                        <li>
                                            <a href="#">Even deeper</a>
                                            <ul>
                                                <li><a href="#">Item</a></li>
                                                <li><a href="#">Item</a></li>
                                                <li><a href="#">Item</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Item</a></li>
                                        <li><a href="#">Item</a></li>
                                        <li><a href="#">Item</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Item</a></li>
                                <li><a href="#">Item</a></li>
                                <li><a href="#">Item</a></li>
                                <li><a href="#">Item</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Item</a>
                            <ul>
                                <li><a href="#">Item</a></li>
                                <li><a href="#">Item</a></li>
                                <li><a href="#">Item</a></li>
                                <li><a href="#">Item</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Item</a>
                            <ul>
                                <li>
                                    <a href="#">Deeper</a>
                                    <ul>
                                        <li><a href="#">Item</a></li>
                                        <li><a href="#">Item</a></li>
                                        <li><a href="#">Item</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Item</a></li>
                                <li><a href="#">Item</a></li>
                                <li><a href="#">Item</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Here's a very long item.</a>
                            <ul>
                                <li><a href="#">Item</a></li>
                                <li><a href="#">Item</a></li>
                                <li><a href="#">Item</a></li>
                                <li><a href="#">Item</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
               
                <li><a href="">Item 3</a></li>
                <li><a href="">Item 4</a></li>
                <li><a href="">Item 5</a></li>
                <li><a href="">Item 6</a></li>
                <li class="drop-left">
                    <a href="">Drop Left</a>
                    <ul>
                        <li>
                            <a href="#">How deep?</a>
                            <ul>
                                <li>
                                    <a href="#">Deep</a>
                                    <ul>
                                        <li>
                                            <a href="#">Even deeper</a>
                                            <ul>
                                                <li><a href="#">Item</a></li>
                                                <li><a href="#">Item</a></li>
                                                <li><a href="#">Item</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Item</a></li>
                                        <li><a href="#">Item</a></li>
                                        <li><a href="#">Item</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Item</a></li>
                                <li><a href="#">Item</a></li>
                                <li><a href="#">Item</a></li>
                                <li><a href="#">Item</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Item</a></li>
                        <li><a href="#">Item</a></li>
                        <li><a href="#">Item</a></li>
                        <li><a href="#">Item</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- .stellarnav -->
        <!-- required -->
        <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
        <script type="text/javascript" src="js/stellarnav.min.js"></script>
        <script type="text/javascript">
            jQuery(document).ready(function ($) {
                jQuery('.stellarnav').stellarNav({
                    theme: 'dark',
                    breakpoint: 960,
                    position: 'right',
                    phoneBtn: '18009997788',
                    locationBtn: 'https://www.google.com/maps'
                });
            });
        </script>
        <!-- required -->
        <script src="https://code.jquery.com/jquery-migrate-3.0.1.js"></script>





















    <!---home page-->

    <br />



        <div id="home-1" class="home-1" style="background-color:#f2f2f2;">



            <header class="header container">
                <h1 id="page-header" class="text-center">
                    Admission
                </h1>
                <hr />
            </header>

            <main class="content container">
                <p>
                    Admission to Undergraduate Programs for the candidates from India at IIIT Trichy is based on the ranks in the Joint Entrance Examination, JEE (Main).
                    Admission to IIIT Trichy for JEE Main qualified candidates is made through a single platform through online by the Joint Seat Allocation Authority (JoSAA).
                </p>
                <hr />
                <h3><strong>JEE Main 2018</strong></h3>
                <hr />
                <p>The Ministry of Human Resource Development, Government of India has notified following two changes in the JEE pattern for 2018:</p>
                <ol>
                    <li style="text-align: justify; font-size: medium;">There shall be no weightage for the 12th class marks in calculating the ranks in the JEE (Main) examination,</li>
                    <li style="text-align: justify; font-size: medium;">For the candidates to qualify for the admission in the IITs/NITs/IIITs and such other CFTIs whose admissions are based on the JEE (Advanced)/JEE(Main) ranks, they should have secured at least 75% marks in the 12th class examination, or be in the top 20 percentile in the 12th class examination conducted by the respective Boards. For SC/ST students the qualifying marks would be 65% in the 12th class examination.</li>
                </ol>
                <p><a target="_blank" href="http://jeemain.nic.in">Visit website of JEE Main.</a></p>

                <hr />
                <h3><strong>JoSAA 2018</strong></h3>
                <hr />
                <p>
                    The Joint Seat Allocation Authority (JoSAA) 2018 has been set up by the Ministry of Human Resources Development (MHRD)
                    to manage and regulate the joint seat allocation for admissions to 97 institutes for the academic year 2018-18.
                    This includes 23 IITs,  31 NITs, 23 IIITs and 20 Other-Government Funded Technical Institutes (Other-GFTIs).
                    Admission to all the academic programs offered by these Institutes will be made through a single platform.
                </p>
                <p><a target="_blank" href="http://josaa.nic.in/">Visit website of JoSAA.</a></p>
                <p><a target="_blank" href="http://josaa.nic.in/SeatInfo/root/InstProfile.aspx?instcd=314">View IIIT Trichy on JoSAA.</a></p>

                <hr />
                <h3><strong>List of Undergraduate Programs 2018</strong></h3>
                <hr />
                <p> IIIT Trichy offers the following two <strong>Undergraduate Programs</strong> :</p>
                <ul>
                    <li style="text-align: left; font-size: medium;"><strong>Computer Science and Engineering (4 years, Bachelor of Technology)</strong></li>
                    <li style="text-align: left; font-size: medium;"><strong>Electronics and Communication Engineering (4 years, Bachelor of Technology)</strong></li>
                </ul>
                <hr />

                <h3><strong>Opening and Closing Rank</strong></h3>
                <a target="_blank" href="downloads/iiitt-rank.pdf">Opening/Closing Rank of IIIT Trichy, JoSAA 2017</a>
                <hr />

                <!--
                    <h3><strong>Notices</strong></h3>
                    <hr/>
                    <p><a class="btn btn-block btn-info" href="/notices">Notices</a></p>
                    <hr/>
        -->

                <h3><strong>Fee Structure</strong></h3>
                <p><a target="_blank" href="/downloads/admission/FeeStructure18-19.pdf">Fee Structure</a></p>
                <hr />
                <h3><strong>Forms</strong></h3>
                <p><a target="_blank" href="/downloads/admission/ReportingDetails18-19.pdf">Reporting Details</a></p>
                <p><a target="_blank" href="/downloads/admission/CancellationForm.docx">Admission Cancellation Form</a></p>
                <hr />
                <h3><strong>Anti Ragging Committee</strong></h3>
                <p><a href="/downloads/admission/AR-committee.pdf">Anti-Ragging Committee</a></p>
                <hr />

                <h3><strong>Contact Details of Admission Incharge</strong></h3>
                <hr />
                <p>For Admission related queries, contact Admission Incharge of IIIT Trichy.</p>
                <figure>
                    <img class="img-responsive img-center" src="images/admission-incharge.jpg" alt="Dr. N. Kumaresan, Admission Incharge, IIIT Trichy" />
                    <figcaption class="text-center">
                        Dr. N. Kumaresan<br />
                        Admission Incharge, IIIT Trichy<br />
                        <strong>Email: </strong> <a href="mailto:iiits_admission@nitt.edu">iiits_admission@nitt.edu</a>, <a href="mailto:nkumar@nitt.edu">nkumar@nitt.edu</a><br />
                        <strong>Mobile No: </strong><a href="tel:+919489600129">+91 9489600129</a><br />
                        <strong>Fax: </strong> +91 431 2500133
                    </figcaption>
                </figure>
                <hr />
            </main>


        </div>

   
    <br />























































        <div style=" background-color:#003366;width:100%;list-style:none;" class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <br />
                        <h4><a href="#" style="padding-left:10px;color:white;list-style:none;">  Quick Links</a></h4>
                        <hr>


                        <!--<div  style="-moz-columns: 3 200px; -webkit-columns: 3 200px; columns: 3 200px; padding:0px 0px 0px 0px; margin: 0px 0px 0px 0px;">-->
                        <ul style="-moz-columns: 3 200px; -webkit-columns: 3 200px; columns: 3 200px; padding:0px 0px 0px 10px; margin: 0px 0px 0px 0px; color:white;">


                            <li>
                                <a style="text-align:center;color:white;" href="/files/acad_cal1920.pdf">Academic Calendar 19-20</a>
                            </li>


                            <li><a style="text-align:center;color:white;" href="/iitkgp-announcements">Announcements</a></li>


                            <li><a style="text-align:center;color:white;" href="https://erp.iitkgp.ernet.in/ERPWebServices/curricula/specialisationList.jsp?stuType=UG" target="_blank">Academic Curriculum (UG)</a></li>




                            <li><a style="text-align:center;color:white;" href="http://www.library.iitkgp.ernet.in" target="_blank">Library</a></li>


                            <li><a style="text-align:center;color:white;" href="/for-students">For Students</a></li>


                            <li><a style="text-align:center;color:white;" href="https://erp.iitkgp.ernet.in/FacultyCareer/advtFacultyRecruitment.jsp" target="_blank">Faculty Openings</a></li>


                            <li><a style="text-align:center;color:white;" href="/holidays">Holidays</a></li>


                            <li><a style="text-align:center;color:white;" href="/internal-complaints-committee">Internal Complaints Committee</a></li>



                            <li><a style="text-align:center;color:white;" href="/media">Media</a></li>



                            <li><a style="text-align:center;color:white;" href="/non-teaching-positions">Non-Teaching Positions</a></li>


                            <li><a style="text-align:center;color:white;" href="/temporary-jobs">Temporary Jobs</a></li>



                            <li><a style="text-align:center;color:white;" href="http://www1.iiitt.ac.in/topfiles/tenders.php" target="_blank">Tenders</a></li>



                            <li><a style="text-align:center;color:white;" href="https://iiittmail.iiitt.ac.in/" target="_blank">Web Mail</a></li>



                        </ul>
                        <!--</div>-->
                    </div>
                    <div class="clearfix clearfix_on_mobile"></div>
                    <div class="col-lg-3 col-md-12 col-sm-12 admission">
                        <h4 style="color:white;padding-top:20px;padding-left10px;text-align:left;">Contact Us</h4> <hr>
                        <div style="color:white;padding-left:20px;" class="footer_address">
                            <p>
                                Indian Institute of Information Technology Tiruchirappalli<br>
                                NIT Trichy, Trichy, India - 721302<br>
                                Email: dean-iiits@nitt.edu<br>
                                Mobile No: 9489600124<br>
                                Office No: 04312500539

                            </p>
                        </div>
                        <div class="footer_link2">
                            <ul style="color:white;padding-left:20px;">
                                <li><a style="color:white;" href="/how-to-reach">How to reach <!--(by train/car/nearest airport)--></a></li>
                                <li><a style="color:white;" href="/campus-map">Campus Map</a></li>
                                <li><a style="color:white;" href="/files/comdir.pdf" target="_blank">Communication Directory</a></li>
                                <!--  <li><a href="https://www.youtube.com/watch?v=bmzpKqpigM8" target="blank"><span style="font-weight:bold; color:#0097BC; font-size:14px;">Sundar Pichai at IIT KGP - <I>Live</I></span></a></li> <br>
                                <li><a href="/welcome-freshers" target="_blank"><b>Welcome Freshers</b></a></li>-->
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix clearfix_on_mobile"></div>
                    <div class="col-lg-3 col-md-12 col-sm-12">
                        <h4 style="color:white;padding-top:20px;padding=10px;">Social Connect</h4><hr>

                        <div style=" background-color: #fff;align-content:center;" class="center">
                            <ul class="social-network social-circle">
                                <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" class="icoGoogle" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#" class="icoInstagram" title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                        <br><br>

                    </div>
                </div>






                <div class="container ">
                    <hr />
                    <div style="color:white;text-align:center;" class="row">
                        <div class="col-lg-6 col-md-6 col-md-12">
                            &copy; 2019 Indian Institute of Information Technology Tiruchirappalli
                        </div>

                        <br />

                        <div style="text-align:center;padding-left:20px;padding-bottom:5px;">
                            <!--<a href="/campus-weather">Campus Weather</a> | <a href="/feedback">Feedback</a> | <a href="/legal-disclaimer">Legal Disclaimer</a>-->



                            <a style="color:white;" href="/campus-weather">
                                Campus Weather
                            </a> |

                            <a style="color:white;" href="/feedback">Feedback</a> |
                            <a style="color:white;" href="/sitemap">Sitemap</a>


                        </div>


                    </div>
                </div>


            </div>

        </div>








</body>
</html>
